<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.gatech.robodroids.raindrop">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- To get current location for water reports -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/raindropicon"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- Service to convert location to address in background -->
        <service
                android:name=".GetAddressIntentService"
                android:exported="false"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyC46JmgIq7DWuspDskvN9rIwCVkJdgx4hE"/>

        <activity
                android:name=".WelcomeActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_login"/>
        <activity
                android:name=".RegisterActivity"
                android:label="@string/title_activity_register"/>
        <activity
                android:name=".EditActivity"
                android:label="Edit"/>
        <activity android:name=".activity_application_main"/>
        <activity android:name=".CreateReportActivity"/>
        <activity
                android:name=".ViewWaterReports"
                android:label="@string/title_activity_view_water_reports"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".ViewMap"
                android:label="@string/title_activity_view_map"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CreateQualityReportActivity">
        </activity>
        <activity android:name=".ViewQualityReports">
        </activity>

        <activity android:name=".ViewHistoricalReports">
        </activity>
    </application>

</manifest>